In [28]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_excel("Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [30]:
df.drop_duplicates(inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         20 non-null     int64
 1   First_Name         20 non-null     object
 2   Last_Name          19 non-null     object
 3   Phone_Number       18 non-null     object
 4   Address            20 non-null     object
 5   Paying Customer    20 non-null     object
 6   Do_Not_Contact     16 non-null     object
 7   Not_Useful_Column  20 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [32]:
df.isna().sum()

CustomerID           0
First_Name           0
Last_Name            1
Phone_Number         2
Address              0
Paying Customer      0
Do_Not_Contact       4
Not_Useful_Column    0
dtype: int64

In [33]:
df.drop(columns='Not_Useful_Column', inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [34]:
df.isna().sum()

CustomerID         0
First_Name         0
Last_Name          1
Phone_Number       2
Address            0
Paying Customer    0
Do_Not_Contact     4
dtype: int64

In [35]:
df = df.dropna(subset=['Last_Name'])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [36]:
df.reset_index(drop=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
9,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
10,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
11,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
12,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
13,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
14,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
15,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
16,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
17,1019,Creed,Braton,N/a,N/a,N/a,Yes
18,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [37]:
df['First_Name'] = df['First_Name'].str.upper()
df['Last_Name'] = df['Last_Name'].str.upper()
df

C:\Users\might\AppData\Local\Temp\ipykernel_6028\1865512782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['First_Name'] = df['First_Name'].str.upper()
C:\Users\might\AppData\Local\Temp\ipykernel_6028\1865512782.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Last_Name'] = df['Last_Name'].str.upper()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,ABED,NADIR,123/643/9775,93 West Main Street,No,Yes
2,1003,WALTER,/WHITE,7066950392,298 Drugs Driveway,N,NaN
3,1004,DWIGHT,SCHRUTE,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,JON,SNOW,876|678|3469,123 Dragons Road,Y,No
5,1006,RON,SWANSON,304-762-2467,768 City Parkway,Yes,Yes
6,1007,JEFF,WINGER,NaN,1209 South Street,No,No
7,1008,SHERLOCK,HOLMES,876|678|3469,98 Clue Drive,N,No
9,1010,PETER,PARKER,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,SAMWISE,GAMGEE,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,HARRY,...POTTER,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,DON,DRAPER,123-543-2345,2039 Main Street,Yes,N
13,1014,LESLIE,KNOPE,876|678|3469,343 City Parkway,Yes,No
14,1015,TOBY,FLENDERSON_,304-762-2467,214 HR Avenue,N,No
15,1016,RON,WEASLEY,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,MICHAEL,SCOTT,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,CLARK,KENT,7066950392,3498 Super Lane,Y,NaN
18,1019,CREED,BRATON,N/a,N/a,N/a,Yes
19,1020,ANAKIN,SKYWALKER,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [38]:
df['Last_Name'] = df['Last_Name'].str.replace('[^A-Z]','',regex=True)
df['Last_Name'] = df['Last_Name'].str.strip()
df.reset_index(drop=True)

C:\Users\might\AppData\Local\Temp\ipykernel_6028\179319440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Last_Name'] = df['Last_Name'].str.replace('[^A-Z]','',regex=True)
C:\Users\might\AppData\Local\Temp\ipykernel_6028\179319440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Last_Name'] = df['Last_Name'].str.strip()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,ABED,NADIR,123/643/9775,93 West Main Street,No,Yes
2,1003,WALTER,WHITE,7066950392,298 Drugs Driveway,N,NaN
3,1004,DWIGHT,SCHRUTE,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,JON,SNOW,876|678|3469,123 Dragons Road,Y,No
5,1006,RON,SWANSON,304-762-2467,768 City Parkway,Yes,Yes
6,1007,JEFF,WINGER,NaN,1209 South Street,No,No
7,1008,SHERLOCK,HOLMES,876|678|3469,98 Clue Drive,N,No
8,1010,PETER,PARKER,123-545-5421,"25th Main Street, New York",Yes,No
9,1011,SAMWISE,GAMGEE,NaN,"612 Shire Lane, Shire",Yes,No
10,1012,HARRY,POTTER,7066950392,2394 Hogwarts Avenue,Y,NaN
11,1013,DON,DRAPER,123-543-2345,2039 Main Street,Yes,N
12,1014,LESLIE,KNOPE,876|678|3469,343 City Parkway,Yes,No
13,1015,TOBY,FLENDERSON,304-762-2467,214 HR Avenue,N,No
14,1016,RON,WEASLEY,123-545-5421,2395 Hogwarts Avenue,No,N
15,1017,MICHAEL,SCOTT,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
16,1018,CLARK,KENT,7066950392,3498 Super Lane,Y,NaN
17,1019,CREED,BRATON,N/a,N/a,N/a,Yes
18,1020,ANAKIN,SKYWALKER,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [39]:
df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','',regex=True)
df

C:\Users\might\AppData\Local\Temp\ipykernel_6028\1813107141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','',regex=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,ABED,NADIR,1236439775,93 West Main Street,No,Yes
2,1003,WALTER,WHITE,NaN,298 Drugs Driveway,N,NaN
3,1004,DWIGHT,SCHRUTE,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,JON,SNOW,8766783469,123 Dragons Road,Y,No
5,1006,RON,SWANSON,3047622467,768 City Parkway,Yes,Yes
6,1007,JEFF,WINGER,NaN,1209 South Street,No,No
7,1008,SHERLOCK,HOLMES,8766783469,98 Clue Drive,N,No
9,1010,PETER,PARKER,1235455421,"25th Main Street, New York",Yes,No
10,1011,SAMWISE,GAMGEE,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,HARRY,POTTER,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,DON,DRAPER,1235432345,2039 Main Street,Yes,N
13,1014,LESLIE,KNOPE,8766783469,343 City Parkway,Yes,No
14,1015,TOBY,FLENDERSON,3047622467,214 HR Avenue,N,No
15,1016,RON,WEASLEY,1235455421,2395 Hogwarts Avenue,No,N
16,1017,MICHAEL,SCOTT,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,CLARK,KENT,NaN,3498 Super Lane,Y,NaN
18,1019,CREED,BRATON,Na,N/a,N/a,Yes
19,1020,ANAKIN,SKYWALKER,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [40]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))
df

C:\Users\might\AppData\Local\Temp\ipykernel_6028\2657967943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,ABED,NADIR,1236439775,93 West Main Street,No,Yes
2,1003,WALTER,WHITE,nan,298 Drugs Driveway,N,NaN
3,1004,DWIGHT,SCHRUTE,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,JON,SNOW,8766783469,123 Dragons Road,Y,No
5,1006,RON,SWANSON,3047622467,768 City Parkway,Yes,Yes
6,1007,JEFF,WINGER,nan,1209 South Street,No,No
7,1008,SHERLOCK,HOLMES,8766783469,98 Clue Drive,N,No
9,1010,PETER,PARKER,1235455421,"25th Main Street, New York",Yes,No
10,1011,SAMWISE,GAMGEE,nan,"612 Shire Lane, Shire",Yes,No
11,1012,HARRY,POTTER,nan,2394 Hogwarts Avenue,Y,NaN
12,1013,DON,DRAPER,1235432345,2039 Main Street,Yes,N
13,1014,LESLIE,KNOPE,8766783469,343 City Parkway,Yes,No
14,1015,TOBY,FLENDERSON,3047622467,214 HR Avenue,N,No
15,1016,RON,WEASLEY,1235455421,2395 Hogwarts Avenue,No,N
16,1017,MICHAEL,SCOTT,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,CLARK,KENT,nan,3498 Super Lane,Y,NaN
18,1019,CREED,BRATON,Na,N/a,N/a,Yes
19,1020,ANAKIN,SKYWALKER,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [41]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x : x[0:3] + '-' + x[3:6] +'-'+ x[6:10])
df

C:\Users\might\AppData\Local\Temp\ipykernel_6028\1078634959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].apply(lambda x : x[0:3] + '-' + x[3:6] +'-'+ x[6:10])

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,ABED,NADIR,123-643-9775,93 West Main Street,No,Yes
2,1003,WALTER,WHITE,nan--,298 Drugs Driveway,N,NaN
3,1004,DWIGHT,SCHRUTE,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,JON,SNOW,876-678-3469,123 Dragons Road,Y,No
5,1006,RON,SWANSON,304-762-2467,768 City Parkway,Yes,Yes
6,1007,JEFF,WINGER,nan--,1209 South Street,No,No
7,1008,SHERLOCK,HOLMES,876-678-3469,98 Clue Drive,N,No
9,1010,PETER,PARKER,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,SAMWISE,GAMGEE,nan--,"612 Shire Lane, Shire",Yes,No
11,1012,HARRY,POTTER,nan--,2394 Hogwarts Avenue,Y,NaN
12,1013,DON,DRAPER,123-543-2345,2039 Main Street,Yes,N
13,1014,LESLIE,KNOPE,876-678-3469,343 City Parkway,Yes,No
14,1015,TOBY,FLENDERSON,304-762-2467,214 HR Avenue,N,No
15,1016,RON,WEASLEY,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,MICHAEL,SCOTT,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,CLARK,KENT,nan--,3498 Super Lane,Y,NaN
18,1019,CREED,BRATON,Na--,N/a,N/a,Yes
19,1020,ANAKIN,SKYWALKER,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [42]:
df['Phone_Number'] = df['Phone_Number'].str.replace('nan--','',regex=True)
df['Phone_Number'] = df['Phone_Number'].str.replace('Na--','',regex=True)
df

C:\Users\might\AppData\Local\Temp\ipykernel_6028\1052360269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].str.replace('nan--','',regex=True)
C:\Users\might\AppData\Local\Temp\ipykernel_6028\1052360269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].str.replace('Na--','',regex=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,ABED,NADIR,123-643-9775,93 West Main Street,No,Yes
2,1003,WALTER,WHITE,,298 Drugs Driveway,N,NaN
3,1004,DWIGHT,SCHRUTE,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,JON,SNOW,876-678-3469,123 Dragons Road,Y,No
5,1006,RON,SWANSON,304-762-2467,768 City Parkway,Yes,Yes
6,1007,JEFF,WINGER,,1209 South Street,No,No
7,1008,SHERLOCK,HOLMES,876-678-3469,98 Clue Drive,N,No
9,1010,PETER,PARKER,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,SAMWISE,GAMGEE,,"612 Shire Lane, Shire",Yes,No
11,1012,HARRY,POTTER,,2394 Hogwarts Avenue,Y,NaN
12,1013,DON,DRAPER,123-543-2345,2039 Main Street,Yes,N
13,1014,LESLIE,KNOPE,876-678-3469,343 City Parkway,Yes,No
14,1015,TOBY,FLENDERSON,304-762-2467,214 HR Avenue,N,No
15,1016,RON,WEASLEY,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,MICHAEL,SCOTT,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,CLARK,KENT,,3498 Super Lane,Y,NaN
18,1019,CREED,BRATON,,N/a,N/a,Yes
19,1020,ANAKIN,SKYWALKER,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [43]:
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes','Y',regex=True)
df['Paying Customer'] = df['Paying Customer'].str.replace('No','N',regex=True)
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes','Y',regex=True)
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No','N',regex=True)
df

C:\Users\might\AppData\Local\Temp\ipykernel_6028\390190595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Paying Customer'] = df['Paying Customer'].str.replace('Yes','Y',regex=True)
C:\Users\might\AppData\Local\Temp\ipykernel_6028\390190595.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Paying Customer'] = df['Paying Customer'].str.replace('No','N',regex=True)
C:\Users\might\AppData\Local\Temp\ipykernel_6028\390190595.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes','Y',regex=True)
C:\Users\might\AppData\Local\Temp\ipykernel_6028\390190595.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No','N',regex=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,123-545-5421,"123 Shire Lane, Shire",Y,N
1,1002,ABED,NADIR,123-643-9775,93 West Main Street,N,Y
2,1003,WALTER,WHITE,,298 Drugs Driveway,N,NaN
3,1004,DWIGHT,SCHRUTE,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,JON,SNOW,876-678-3469,123 Dragons Road,Y,N
5,1006,RON,SWANSON,304-762-2467,768 City Parkway,Y,Y
6,1007,JEFF,WINGER,,1209 South Street,N,N
7,1008,SHERLOCK,HOLMES,876-678-3469,98 Clue Drive,N,N
9,1010,PETER,PARKER,123-545-5421,"25th Main Street, New York",Y,N
10,1011,SAMWISE,GAMGEE,,"612 Shire Lane, Shire",Y,N
11,1012,HARRY,POTTER,,2394 Hogwarts Avenue,Y,NaN
12,1013,DON,DRAPER,123-543-2345,2039 Main Street,Y,N
13,1014,LESLIE,KNOPE,876-678-3469,343 City Parkway,Y,N
14,1015,TOBY,FLENDERSON,304-762-2467,214 HR Avenue,N,N
15,1016,RON,WEASLEY,123-545-5421,2395 Hogwarts Avenue,N,N
16,1017,MICHAEL,SCOTT,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N
17,1018,CLARK,KENT,,3498 Super Lane,Y,NaN
18,1019,CREED,BRATON,,N/a,N/a,Y
19,1020,ANAKIN,SKYWALKER,876-678-3469,"910 Tatooine Road, Tatooine",Y,N

In [44]:
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.strip()

C:\Users\might\AppData\Local\Temp\ipykernel_6028\3774838611.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Do_Not_Contact'] = df['Do_Not_Contact'].str.strip()

In [45]:
df['Do_Not_Contact'].isna().sum()

np.int64(3)

In [46]:
df['Do_Not_Contact'].fillna('N',inplace=True)

C:\Users\might\AppData\Local\Temp\ipykernel_6028\1551147852.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Do_Not_Contact'].fillna('N',inplace=True)
C:\Users\might\AppData\Local\Temp\ipykernel_6028\1551147852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Do_Not_Contact'].fillna('N',inplace=True)

In [47]:
df['Paying Customer']=df['Paying Customer'].str.replace('N/a','')
df['Address']=df['Address'].str.replace('N/a','')
df

C:\Users\might\AppData\Local\Temp\ipykernel_6028\4260230021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Paying Customer']=df['Paying Customer'].str.replace('N/a','')
C:\Users\might\AppData\Local\Temp\ipykernel_6028\4260230021.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Address']=df['Address'].str.replace('N/a','')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,123-545-5421,"123 Shire Lane, Shire",Y,N
1,1002,ABED,NADIR,123-643-9775,93 West Main Street,N,Y
2,1003,WALTER,WHITE,,298 Drugs Driveway,N,N
3,1004,DWIGHT,SCHRUTE,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,JON,SNOW,876-678-3469,123 Dragons Road,Y,N
5,1006,RON,SWANSON,304-762-2467,768 City Parkway,Y,Y
6,1007,JEFF,WINGER,,1209 South Street,N,N
7,1008,SHERLOCK,HOLMES,876-678-3469,98 Clue Drive,N,N
9,1010,PETER,PARKER,123-545-5421,"25th Main Street, New York",Y,N
10,1011,SAMWISE,GAMGEE,,"612 Shire Lane, Shire",Y,N
11,1012,HARRY,POTTER,,2394 Hogwarts Avenue,Y,N
12,1013,DON,DRAPER,123-543-2345,2039 Main Street,Y,N
13,1014,LESLIE,KNOPE,876-678-3469,343 City Parkway,Y,N
14,1015,TOBY,FLENDERSON,304-762-2467,214 HR Avenue,N,N
15,1016,RON,WEASLEY,123-545-5421,2395 Hogwarts Avenue,N,N
16,1017,MICHAEL,SCOTT,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N
17,1018,CLARK,KENT,,3498 Super Lane,Y,N
18,1019,CREED,BRATON,,,,Y
19,1020,ANAKIN,SKYWALKER,876-678-3469,"910 Tatooine Road, Tatooine",Y,N

In [48]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

C:\Users\might\AppData\Local\Temp\ipykernel_6028\1549144109.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [49]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,123-545-5421,"123 Shire Lane, Shire",Y,N
1,1002,ABED,NADIR,123-643-9775,93 West Main Street,N,Y
2,1003,WALTER,WHITE,NaN,298 Drugs Driveway,N,N
3,1004,DWIGHT,SCHRUTE,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,JON,SNOW,876-678-3469,123 Dragons Road,Y,N
5,1006,RON,SWANSON,304-762-2467,768 City Parkway,Y,Y
6,1007,JEFF,WINGER,NaN,1209 South Street,N,N
7,1008,SHERLOCK,HOLMES,876-678-3469,98 Clue Drive,N,N
9,1010,PETER,PARKER,123-545-5421,"25th Main Street, New York",Y,N
10,1011,SAMWISE,GAMGEE,NaN,"612 Shire Lane, Shire",Y,N
11,1012,HARRY,POTTER,NaN,2394 Hogwarts Avenue,Y,N
12,1013,DON,DRAPER,123-543-2345,2039 Main Street,Y,N
13,1014,LESLIE,KNOPE,876-678-3469,343 City Parkway,Y,N
14,1015,TOBY,FLENDERSON,304-762-2467,214 HR Avenue,N,N
15,1016,RON,WEASLEY,123-545-5421,2395 Hogwarts Avenue,N,N
16,1017,MICHAEL,SCOTT,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N
17,1018,CLARK,KENT,NaN,3498 Super Lane,Y,N
18,1019,CREED,BRATON,NaN,NaN,NaN,Y
19,1020,ANAKIN,SKYWALKER,876-678-3469,"910 Tatooine Road, Tatooine",Y,N

In [50]:
df.dropna(inplace=True)
df

C:\Users\might\AppData\Local\Temp\ipykernel_6028\955798070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,123-545-5421,"123 Shire Lane, Shire",Y,N
1,1002,ABED,NADIR,123-643-9775,93 West Main Street,N,Y
3,1004,DWIGHT,SCHRUTE,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,JON,SNOW,876-678-3469,123 Dragons Road,Y,N
5,1006,RON,SWANSON,304-762-2467,768 City Parkway,Y,Y
7,1008,SHERLOCK,HOLMES,876-678-3469,98 Clue Drive,N,N
9,1010,PETER,PARKER,123-545-5421,"25th Main Street, New York",Y,N
12,1013,DON,DRAPER,123-543-2345,2039 Main Street,Y,N
13,1014,LESLIE,KNOPE,876-678-3469,343 City Parkway,Y,N
14,1015,TOBY,FLENDERSON,304-762-2467,214 HR Avenue,N,N
15,1016,RON,WEASLEY,123-545-5421,2395 Hogwarts Avenue,N,N
16,1017,MICHAEL,SCOTT,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N
19,1020,ANAKIN,SKYWALKER,876-678-3469,"910 Tatooine Road, Tatooine",Y,N

In [51]:
df = df[df['Do_Not_Contact'] != 'Y']

In [52]:
df.reset_index(drop=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,BAGGINS,123-545-5421,"123 Shire Lane, Shire",Y,N
1,1005,JON,SNOW,876-678-3469,123 Dragons Road,Y,N
2,1008,SHERLOCK,HOLMES,876-678-3469,98 Clue Drive,N,N
3,1010,PETER,PARKER,123-545-5421,"25th Main Street, New York",Y,N
4,1013,DON,DRAPER,123-543-2345,2039 Main Street,Y,N
5,1014,LESLIE,KNOPE,876-678-3469,343 City Parkway,Y,N
6,1015,TOBY,FLENDERSON,304-762-2467,214 HR Avenue,N,N
7,1016,RON,WEASLEY,123-545-5421,2395 Hogwarts Avenue,N,N
8,1017,MICHAEL,SCOTT,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N
9,1020,ANAKIN,SKYWALKER,876-678-3469,"910 Tatooine Road, Tatooine",Y,N

In [53]:
df.to_excel('Customer Call List _ Cleaned.xlsx')